.nav {
  width: 100%;
  background-color: var(--background-primary);
  padding: 8px 16px;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
}
.nav .link {
  background-color: var(--background-secondary);
  color: black;
  padding: 4px 12px;
  border-radius: 4px;
}

main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
}

.cell {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 3em;
  font-weight: bold;
  width: 50px;
  aspect-ratio: 1;
  /* width: 50px; */
  line-height: 50px;
  text-align: center;
  border: 1px #333 solid;
}

.cell.disabled {
  background-color: #ddd;
}

.cell span {
  font-size: 16px;
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.grid {
  display: grid;
  gap: 0;
}

.dialog {
  position: absolute;
  background-color: var(--background-primary);
  z-index: 2;

  padding: 1.5em;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .cell {
    border-color: #555;
  }

  .cell.disabled {
    background-color: #2a2a2a;
  }
}