main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cell {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 3em;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px #333 solid;
}

.cell.disabled {
  background-color: #ddd;
}

.cell span {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.grid {
  display: grid;
  gap: 0;
}

.victory-dialog {
  position: absolute;
  background-color: var(--background-primary);
  z-index: 2;

  padding: 1.5em;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .cell {
    border-color: #555;
  }

  .cell.disabled {
    background-color: #222;
  }
}